# Creamos un archivo requirements.txt con todas las dependencias utilizadas hasta ahora

setuptools 
streamlit
pandas
numpy
requests
beautifulsoup4
lxml
unidecode
openpyxl
selenium
plotly
undetected-chromedriver

#with open("requirements.txt", "w") as f:
#    f.write(requirements.strip())

#"✅ Archivo requirements.txt generado con todas las dependencias actuales del proyecto."

#pip install -r requirements.txt
